:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);

  --dark-blue: hsl(234, 12%, 34%);
  --gray-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);

  --light-font: 200;
  --mid-font: 400;
  --strong-font: 600;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
}

p {
  font-weight: var(--light-font);
}

.heading-primary {
  margin-bottom: 1.5rem;
  font-size: 3rem;
}

.heading-secondary {
  margin-bottom: 1.2rem;
}

.heading-tertiary {
  font-weight: var(--light-font);
  font-size: 3rem;
}

.intro {
  text-align: center;
  margin: 5rem 50rem;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  margin: 0 15rem;
}

.flex-1-row {
  flex-basis: 33.33%;
}

.flex-2-row {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex-basis: 33.33%;
}

.card {
  padding: 4rem;
  box-shadow: 5px 5px 5px 1px;
}

.card p {
  margin-bottom: 4rem;
  padding-right: 8rem;
}

.cyan {
  border-top: 4px solid var(--cyan);
}

.red {
  border-top: 4px solid var(--red);
}

.orange {
  border-top: 4px solid var(--orange);
}

.blue {
  border-top: 4px solid var(--blue);
}

.article-img {
  display: flex;
  justify-content: flex-end;
}

.attribution {
  text-align: center;
}

.attribution a {
  text-decoration: none;
  color: var(--dark-blue);
}
/* MEDIA QUERIES */

@media (max-width: 1440px) {
}

@media (max-width: 375px) {
  .cards {
    flex-direction: column;
  }
}
